@media screen and (min-width: 1283px){	
	.page-galerie{
		background-color: $blackText;
		padding: 14em 4% 0;
		background-image: url("#{ $imgPath }/stardust.png");
		h2{
			font-size: $sectionTitle;
			color: $lightText;
			text-align: center;
			padding: 0.8rem 0;
			margin: 0 auto 2em;
			width: 25%;
			max-width: 450px;
			border-bottom: 2px solid $lightGold;
			border-top: 2px solid $lightGold;
			position: relative;
		}
		h2::before{
		    background-image: url("#{ $imgPath }/arr-down.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    bottom: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		h2::after{
		    background-image: url("#{ $imgPath }/arr-top.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    top: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		&__content{
			color: $blackText;
			max-width: 1800px;
			margin: 0 auto 6em;
			text-align: center;
			.page-wrapper{
				border-radius: 15px;
				text-align: left;
				overflow: hidden;
				margin: 0.8em;
				width: 20em;
				display: inline-block;
			    vertical-align: top;
			    background-color: $lightGold;
			    border: 2px solid $lightGold;
			}
			.page-peinture{
			    cursor: default;
			    position: relative;
			    width: 20em;
			    left: 50%;
			    overflow: hidden;
			    transform: -webkit-translate(-50%, 0%);
			    transform: -moz-translate(-50%, 0%);
			    transform: -ms-translate(-50%, 0%);
			    transform: -o-translate(-50%, 0%);
			    transform: translate(-50%, 0%);
			}
			.page-peinture-header{
			    width: 20em;
			    height: 20em;
			    background-size: 18.55em 11.75em;
			    -webkit-transition: all .3s ease-in-out;
			    -moz-transition: all .3s ease-in-out;
			    -ms-transition: all .3s ease-in-out;
			    -o-transition: all .3s ease-in-out;
			    transition: all .3s ease-in-out;
			}
			.page-peinture-header1{
			    background: url("#{ $imgPath }/atelier.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header2{
			    background: url("#{ $imgPath }/bateau.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header3{
			    background: url("#{ $imgPath }/bleu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header4{
			    background: url("#{ $imgPath }/bocaux.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header5{
			    background: url("#{ $imgPath }/bouteilles.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header6{
			    background: url("#{ $imgPath }/composition.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header7{
			    background: url("#{ $imgPath }/fete.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header8{
			    background: url("#{ $imgPath }/foot.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header9{
			    background: url("#{ $imgPath }/grey.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header10{
			    background: url("#{ $imgPath }/nu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header11{
			    background: url("#{ $imgPath }/nu2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header12{
			    background: url("#{ $imgPath }/red.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header13{
			    background: url("#{ $imgPath }/ressent.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header14{
			    background: url("#{ $imgPath }/route.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header15{
			    background: url("#{ $imgPath }/route2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header16{
			    background: url("#{ $imgPath }/sun.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header17{
			    background: url("#{ $imgPath }/train.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture:hover .page-peinture-header,
			.page-peinture:focus .page-peinture-header{
			    transform: scale(1.2);
			}
			.page-peinture-header-date{
				background-color: $lightGold;
			    color: $lightText;
			    float: right;
			    border-radius: 0 0 0 50%;
			    font-weight: 600;
			    text-align: center;
			    width: 50px;
			    height: 50px;
			    position: absolute;
			    top: 0;
			    right: 0;
			}
			.page-peinture-header-years{
			    position: relative;
			    top: 20%;
			    left: 0;
			}
			.page-peinture-body{
			    height: 180px;
			    background-color: $lightText;
			    padding: 0 1em;
			    position: relative;
			    z-index: 2;
			}
			.page-peinture-body-header{
			    position: absolute;
			    height: 180px;
			    left: 0;
			    width: 100%;
			    padding: 1em 1em 3em;
			    background-color: $lightText;
			    -webkit-transition: all .3s ease-in-out;
			    -moz-transition: all .3s ease-in-out;
			    -ms-transition: all .3s ease-in-out;
			    -o-transition: all .3s ease-in-out;
			    transition: all .3s ease-in-out;
			}
			.page-peinture-body-header p{
			    padding-top: 0.5em;
			}
			.page-peinture-body-header p:nth-child(2){
			    padding-top: 2em;
			}
			.page-peinture:hover .page-peinture-body-header, 
			.page-peinture:focus .page-peinture-body-header{
			    margin-top: -10em;
			}
			.page-wrapper h3{
				margin-right: 0.8em;
			    color: $blackText;
			    font-size: $partTitle;
			    font-weight: bold;
			    line-height: 1.35em;
			    margin-bottom: 0.8em;
			    padding-right: 1em;
			}
			.page-peinture-body-description{
			    opacity: 0;
			    padding-top: 1.5em;
			    color: $blackText;
			    line-height: 1.5em;
			    -webkit-transition: all .2s ease-in-out;
			    -moz-transition: all .2s ease-in-out;
			    -ms-transition: all .2s ease-in-out;
			    -o-transition: all .2s ease-in-out;
			    transition: all .2s ease-in-out;
			}
			.page-peinture:hover .page-peinture-body-description, 
			.page-peinture:focus .page-peinture-body-description{
			    opacity: 1;
			    -webkit-transition: all .5s ease-in-out;
			    -moz-transition: all .5s ease-in-out;
			    -ms-transition: all .5s ease-in-out;
			    -o-transition: all .5s ease-in-out;
			    transition: all .5s ease-in-out;
			}
		}
	}
}
@media screen and (max-width: 1282px) and (min-width: 1046px){
	.page-galerie{
		background-color: $blackText;
		padding: 14em 0 0;
		background-image: url("#{ $imgPath }/stardust.png");
		h2{
			font-size: $sectionTitle;
			color: $lightText;
			text-align: center;
			padding: 0.8rem 0;
			margin: 0 auto 2em;
			width: 25%;
			border-bottom: 2px solid $lightGold;
			border-top: 2px solid $lightGold;
			position: relative;
		}
		h2::before{
		    background-image: url("#{ $imgPath }/arr-down.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    bottom: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		h2::after{
		    background-image: url("#{ $imgPath }/arr-top.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    top: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		&__content{
			color: $blackText;
			text-align: center;
			margin-bottom: 6em;
			.page-wrapper{
				border-radius: 15px;
				text-align: left;
				overflow: hidden;
				margin: 0.8em;
				width: 20em;
				display: inline-block;
			    vertical-align: top;
			    border-radius: 15px;
			    background-color: $lightGold;
			    border: 2px solid $lightGold;
			}
			.page-peinture{
			    cursor: default;
			    position: relative;
			    width: 20em;
			    left: 50%;
			    overflow: hidden;
			    transform: -webkit-translate(-50%, 0%);
			    transform: -moz-translate(-50%, 0%);
			    transform: -ms-translate(-50%, 0%);
			    transform: -o-translate(-50%, 0%);
			    transform: translate(-50%, 0%);
			}
			.page-peinture-header{
			    width: 20em;
			    height: 18em;
			    background-size: 18.55em 11.75em;
			    -webkit-transition: all .3s ease-in-out;
			    -moz-transition: all .3s ease-in-out;
			    -ms-transition: all .3s ease-in-out;
			    -o-transition: all .3s ease-in-out;
			    transition: all .3s ease-in-out;
			}
			.page-peinture-header1{
			    background: url("#{ $imgPath }/atelier.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header2{
			    background: url("#{ $imgPath }/bateau.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header3{
			    background: url("#{ $imgPath }/bleu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header4{
			    background: url("#{ $imgPath }/bocaux.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header5{
			    background: url("#{ $imgPath }/bouteilles.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header6{
			    background: url("#{ $imgPath }/composition.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header7{
			    background: url("#{ $imgPath }/fete.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header8{
			    background: url("#{ $imgPath }/foot.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header9{
			    background: url("#{ $imgPath }/grey.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header10{
			    background: url("#{ $imgPath }/nu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header11{
			    background: url("#{ $imgPath }/nu2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header12{
			    background: url("#{ $imgPath }/red.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header13{
			    background: url("#{ $imgPath }/ressent.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header14{
			    background: url("#{ $imgPath }/route.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header15{
			    background: url("#{ $imgPath }/route2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header16{
			    background: url("#{ $imgPath }/sun.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header17{
			    background: url("#{ $imgPath }/train.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture:hover .page-peinture-header,
			.page-peinture:focus .page-peinture-header{
			    transform: scale(1.2);
			}
			.page-peinture-header-date{
				background-color: $lightGold;
			    color: $lightText;
			    float: right;
			    border-radius: 0 0 0 50%;
			    font-weight: 600;
			    text-align: center;
			    width: 50px;
			    height: 50px;
			    position: absolute;
			    top: 0;
			    right: 0;
			}
			.page-peinture-header-years{
			    position: relative;
			    top: 20%;
			    left: 0;
			}
			.page-peinture-body{
			    height: 200px;
			    background-color: $lightText;
			    padding: 0 1em;
			    position: relative;
			    z-index: 2;
			}
			.page-peinture-body-header{
			    position: absolute;
			    height: 180px;
			    left: 0;
			    width: 100%;
			    padding: 1em 1em 3em;
			    background-color: $lightText;
			    -webkit-transition: all .3s ease-in-out;
			    -moz-transition: all .3s ease-in-out;
			    -ms-transition: all .3s ease-in-out;
			    -o-transition: all .3s ease-in-out;
			    transition: all .3s ease-in-out;
			}
			.page-peinture-body-header p{
			    padding-top: 0.5em;
			}
			.page-peinture-body-header p:nth-child(2){
			    padding-top: 2em;
			}
			.page-peinture:hover .page-peinture-body-header, 
			.page-peinture:focus .page-peinture-body-header{
			    margin-top: -10em;
			}
			.page-wrapper h3{
				margin-right: 0.8em;
			    color: $blackText;
			    font-size: $partTitle;
			    font-weight: bold;
			    line-height: 1.35em;
			    margin-bottom: 0.8em;
			    padding-right: 1em;
			}
			.page-peinture-body-description{
			    opacity: 0;
			    padding-top: 3em;
			    color: $blackText;
			    line-height: 1.5em;
			    -webkit-transition: all .2s ease-in-out;
			    -moz-transition: all .2s ease-in-out;
			    -ms-transition: all .2s ease-in-out;
			    -o-transition: all .2s ease-in-out;
			    transition: all .2s ease-in-out;
			}
			.page-peinture:hover .page-peinture-body-description, 
			.page-peinture:focus .page-peinture-body-description{
			    opacity: 1;
			    -webkit-transition: all .5s ease-in-out;
			    -moz-transition: all .5s ease-in-out;
			    -ms-transition: all .5s ease-in-out;
			    -o-transition: all .5s ease-in-out;
			    transition: all .5s ease-in-out;
			}
		}
	}
}
@media screen and (max-width: 1045px) and (min-width: 801px){
	.page-galerie{
		background-color: $blackText;
		padding: 14em 8% 0;
		background-image: url("#{ $imgPath }/stardust.png");
		h2{
			font-size: $sectionTitle;
			color: $lightText;
			text-align: center;
			padding: 0.8rem 0;
			margin: 0 auto 2em;
			width: 40%;
			border-bottom: 2px solid $lightGold;
			border-top: 2px solid $lightGold;
			position: relative;
		}
		h2::before{
		    background-image: url("#{ $imgPath }/arr-down.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    bottom: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		h2::after{
		    background-image: url("#{ $imgPath }/arr-top.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    top: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		&__content{
			color: $blackText;
			margin-bottom: 6em;
			display: flex;
			flex-wrap: wrap;
			.page-wrapper{
				border-radius: 15px;
				text-align: left;
				overflow: hidden;
				margin: 2em auto;
				width: 20em;
				display: block;
			    vertical-align: top;
			    border-radius: 15px;
			    background-color: $lightGold;
			    border: 2px solid $lightGold;
			}
			.page-peinture{
			    cursor: default;
			    position: relative;
			    width: 20em;
			    left: 50%;
			    overflow: hidden;
			    transform: -webkit-translate(-50%, 0%);
			    transform: -moz-translate(-50%, 0%);
			    transform: -ms-translate(-50%, 0%);
			    transform: -o-translate(-50%, 0%);
			    transform: translate(-50%, 0%);
			}
			.page-peinture-header{
			    width: 20em;
			    height: 20em;
			    background-size: 18.55em 11.75em;
			    -webkit-transition: all .3s ease-in-out;
			    -moz-transition: all .3s ease-in-out;
			    -ms-transition: all .3s ease-in-out;
			    -o-transition: all .3s ease-in-out;
			    transition: all .3s ease-in-out;
			}
			.page-peinture-header1{
			    background: url("#{ $imgPath }/atelier.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header2{
			    background: url("#{ $imgPath }/bateau.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header3{
			    background: url("#{ $imgPath }/bleu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header4{
			    background: url("#{ $imgPath }/bocaux.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header5{
			    background: url("#{ $imgPath }/bouteilles.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header6{
			    background: url("#{ $imgPath }/composition.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header7{
			    background: url("#{ $imgPath }/fete.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header8{
			    background: url("#{ $imgPath }/foot.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header9{
			    background: url("#{ $imgPath }/grey.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header10{
			    background: url("#{ $imgPath }/nu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header11{
			    background: url("#{ $imgPath }/nu2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header12{
			    background: url("#{ $imgPath }/red.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header13{
			    background: url("#{ $imgPath }/ressent.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header14{
			    background: url("#{ $imgPath }/route.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header15{
			    background: url("#{ $imgPath }/route2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header16{
			    background: url("#{ $imgPath }/sun.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header17{
			    background: url("#{ $imgPath }/train.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture:hover .page-peinture-header,
			.page-peinture:focus .page-peinture-header{
			    transform: scale(1.2);
			}
			.page-peinture-header-date{
				background-color: $lightGold;
			    color: $lightText;
			    float: right;
			    border-radius: 0 0 0 50%;
			    font-weight: 600;
			    text-align: center;
			    width: 50px;
			    height: 50px;
			    position: absolute;
			    top: 0;
			    right: 0;
			}
			.page-peinture-header-years{
			    position: relative;
			    top: 20%;
			    left: 0;
			}
			.page-peinture-body{
			    height: 180px;
			    background-color: $lightText;
			    padding: 0 1em;
			    position: relative;
			    z-index: 2;
			}
			.page-peinture-body-header{
			    position: absolute;
			    height: 180px;
			    left: 0;
			    width: 100%;
			    padding: 1em 1em 3em;
			    background-color: $lightText;
			    -webkit-transition: all .3s ease-in-out;
			    -moz-transition: all .3s ease-in-out;
			    -ms-transition: all .3s ease-in-out;
			    -o-transition: all .3s ease-in-out;
			    transition: all .3s ease-in-out;
			}
			.page-peinture-body-header p{
			    padding-top: 0.5em;
			}
			.page-peinture-body-header p:nth-child(2){
			    padding-top: 2em;
			}
			.page-peinture .page-peinture-body-header, 
			.page-peinture .page-peinture-body-header{
			    margin-top: -10em;
			}
			.page-wrapper h3{
				margin-right: 0.8em;
			    color: $blackText;
			    font-size: $partTitle;
			    font-weight: bold;
			    line-height: 1.35em;
			    margin-bottom: 0.8em;
			    padding-right: 1em;
			}
			.page-peinture-body-description{
			    padding-top: 1.5em;
			    color: $blackText;
			    line-height: 1.5em;
			}
		}
	}
}
@media screen and (max-width: 800px) and (min-width: 523px){
	.page-galerie{
		background-color: $blackText;
		padding: 14em 4% 0;
		background-image: url("#{ $imgPath }/stardust.png");
		h2{
			font-size: $sectionTitle;
			color: $lightText;
			text-align: center;
			padding: 0.8rem 0;
			margin: 0 auto 2em;
			width: 80%;
			border-bottom: 2px solid $lightGold;
			border-top: 2px solid $lightGold;
			position: relative;
		}
		h2::before{
		    background-image: url("#{ $imgPath }/arr-down.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    bottom: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		h2::after{
		    background-image: url("#{ $imgPath }/arr-top.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    top: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		&__content{
			color: $blackText;
			margin-bottom: 6em;
			display: flex;
			flex-wrap: wrap;
			.page-wrapper{
				border-radius: 15px;
				text-align: left;
				overflow: hidden;
				margin: 1em auto;
				width: 20em;
				display: block;
			    vertical-align: top;
			    border-radius: 15px;
			    background-color: $lightGold;
			    border: 2px solid $lightGold;
			}
			.page-peinture{
			    cursor: default;
			    position: relative;
			    width: 20em;
			    left: 50%;
			    overflow: hidden;
			    transform: -webkit-translate(-50%, 0%);
			    transform: -moz-translate(-50%, 0%);
			    transform: -ms-translate(-50%, 0%);
			    transform: -o-translate(-50%, 0%);
			    transform: translate(-50%, 0%);
			}
			.page-peinture-header{
			    width: 20em;
			    height: 25em;
			    background-size: 18.55em 11.75em;
			}
			.page-peinture-header1{
			    background: url("#{ $imgPath }/atelier.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header2{
			    background: url("#{ $imgPath }/bateau.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header3{
			    background: url("#{ $imgPath }/bleu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header4{
			    background: url("#{ $imgPath }/bocaux.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header5{
			    background: url("#{ $imgPath }/bouteilles.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header6{
			    background: url("#{ $imgPath }/composition.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header7{
			    background: url("#{ $imgPath }/fete.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header8{
			    background: url("#{ $imgPath }/foot.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header9{
			    background: url("#{ $imgPath }/grey.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header10{
			    background: url("#{ $imgPath }/nu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header11{
			    background: url("#{ $imgPath }/nu2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header12{
			    background: url("#{ $imgPath }/red.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header13{
			    background: url("#{ $imgPath }/ressent.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header14{
			    background: url("#{ $imgPath }/route.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header15{
			    background: url("#{ $imgPath }/route2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header16{
			    background: url("#{ $imgPath }/sun.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header17{
			    background: url("#{ $imgPath }/train.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture .page-peinture-header,
			.page-peinture .page-peinture-header{
			    transform: scale(2);
			}
			.page-peinture-header-date{
				background-color: $lightGold;
			    color: $lightText;
			    float: right;
			    border-radius: 0 0 0 50%;
			    font-weight: 600;
			    text-align: center;
			    width: 50px;
			    height: 50px;
			    position: absolute;
			    top: 0;
			    right: 0;
			}
			.page-peinture-header-years{
			    position: relative;
			    top: 20%;
			    left: 0;
			}
			.page-peinture-body{
			    height: 160px;
			    background-color: $lightText;
			    padding: 2em;
			    position: relative;
			    z-index: 2;
			}
			.page-peinture-body-header{
			    position: absolute;
			    height: 160px;
			    left: 0;
			    width: 100%;
			    padding: 1em 1em 3em;
			    background-color: $lightText;
			}
			.page-peinture-body-header p{
			    padding-top: 0.5em;
			}
			.page-peinture-body-header p:nth-child(2){
			    padding-top: 2em;
			}
			.page-peinture .page-peinture-body-header, 
			.page-peinture .page-peinture-body-header{
			    margin-top: -12em;
			}
			.page-wrapper h3{
				margin-right: 0.8em;
			    color: $blackText;
			    font-size: $partTitle;
			    font-weight: bold;
			    line-height: 1.35em;
			    margin-bottom: 0.8em;
			    padding-right: 1em;
			}
		}
	}
}
@media screen and (max-width: 522px){
	.page-galerie{
		background-color: $blackText;
		padding: 14em 4% 0;
		background-image: url("#{ $imgPath }/stardust.png");
		h2{
			font-size: $sectionTitle;
			color: $lightText;
			text-align: center;
			padding: 0.8rem 0;
			margin: 0 auto 2em;
			width: 80%;
			border-bottom: 2px solid $lightGold;
			border-top: 2px solid $lightGold;
			position: relative;
		}
		h2::before{
		    background-image: url("#{ $imgPath }/arr-down.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    bottom: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		h2::after{
		    background-image: url("#{ $imgPath }/arr-top.svg");
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 100% 100%;
		    height: 40px;
		    left: 0;
		    top: -40px;
		    width: 100%;
		    content: "";
		    position: absolute;
		}
		&__content{
			color: $blackText;
			margin-bottom: 6em;
			.page-wrapper{
				border-radius: 15px;
				text-align: left;
				overflow: hidden;
				margin: 0 auto 5em;
				width: 20em;
				display: block;
			    vertical-align: top;
			    border-radius: 15px;
			    background-color: $lightGold;
			    border: 2px solid $lightGold;
			}
			.page-peinture{
			    cursor: default;
			    position: relative;
			    width: 20em;
			    left: 50%;
			    overflow: hidden;
			    transform: -webkit-translate(-50%, 0%);
			    transform: -moz-translate(-50%, 0%);
			    transform: -ms-translate(-50%, 0%);
			    transform: -o-translate(-50%, 0%);
			    transform: translate(-50%, 0%);
			}
			.page-peinture-header{
			    width: 20em;
			    height: 25em;
			    background-size: 18.55em 11.75em;
			}
			.page-peinture-header1{
			    background: url("#{ $imgPath }/atelier.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header2{
			    background: url("#{ $imgPath }/bateau.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header3{
			    background: url("#{ $imgPath }/bleu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header4{
		    	background: url("#{ $imgPath }/bocaux.jpg") no-repeat;
			 	background-position: 50% 50%;
			}
			.page-peinture-header5{
			    background: url("#{ $imgPath }/bouteilles.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header6{
			    background: url("#{ $imgPath }/composition.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header7{
			    background: url("#{ $imgPath }/fete.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header8{
			    background: url("#{ $imgPath }/foot.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header9{
			    background: url("#{ $imgPath }/grey.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header10{
			    background: url("#{ $imgPath }/nu.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header11{
			    background: url("#{ $imgPath }/nu2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header12{
			    background: url("#{ $imgPath }/red.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header13{
			    background: url("#{ $imgPath }/ressent.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header14{
			    background: url("#{ $imgPath }/route.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header15{
			    background: url("#{ $imgPath }/route2.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header16{
			    background: url("#{ $imgPath }/sun.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture-header17{
			    background: url("#{ $imgPath }/train.jpg") no-repeat;
			    background-position: 50% 50%;
			}
			.page-peinture .page-peinture-header,
			.page-peinture .page-peinture-header{
			    transform: scale(2);
			}
			.page-peinture-header-date{
				background-color: $lightGold;
			    color: $lightText;
			    float: right;
			    border-radius: 0 0 0 50%;
			    font-weight: 600;
			    text-align: center;
			    width: 50px;
			    height: 50px;
			    position: absolute;
			    top: 0;
			    right: 0;
			}
			.page-peinture-header-years{
			    position: relative;
			    top: 20%;
			    left: 0;
			}
			.page-peinture-body{
			    height: 160px;
			    background-color: $lightText;
			    padding: 2em 0.8em;
			    position: relative;
			    z-index: 2;
			    line-height: 1.25em;
			}
			.page-peinture-body-header{
			    position: absolute;
			    height: 160px;
			    left: 0;
			    width: 100%;
			    padding: 1em 0.8em 3em;
			    background-color: $lightText;
			}
			.page-peinture-body-header p{
			    padding-top: 0.5em;
			}
			.page-peinture-body-header p:nth-child(2){
			    padding-top: 2em;
			}
			.page-peinture .page-peinture-body-header, 
			.page-peinture .page-peinture-body-header{
			    margin-top: -12em;
			}
			.page-wrapper h3{
				margin-right: 0.8em;
			    color: $blackText;
			    font-size: $partTitle;
			    font-weight: bold;
			    line-height: 1.35em;
			    margin-bottom: 0.8em;
			    padding-right: 1em;
			}
		}
	}
}