/* Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 */
$blackBcg: rgba(#444349, 0.9);

$lightGold: #BB9D6D;

$lightGoldHover: #c18d3e;

$lightText:	#F8F8F8;

$lightTransEffectText:	rgba(#F8F8F8, 0.8);

$blackTransEffectText:	rgba(#2C3538, 0.8);

$blackText: #2C3538;

$deleteForm: #d9534f;

$deleteFormHover: #d12e2e;

$validForm: #5cb85c;

$validFormHover: #5cb85c;

$focusForm: #888899;

$blackGreyText: #aaa;

$lightGreyText: #ccc;

$lightTransEffect:  rgba(255, 255, 255, 0.8);

$lightTransEffectGold:  rgba(#C1A16F, 0.8);

$facebook: #3B5998;
$linkedin: #0274B3;
$mail: #65B5FE;