/* Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 */

$firstTitle: 5.063em;
$pageTitle: 3.375em;
$pageSubTitle: 2.25em;
$sectionTitle: 2.25em;
$sectionSubTitle: 1.5em;
$partTitle: 1.5em;
$partSubTitle: 1.245em;
$currentText: 1em;
$cpr: 0.837em;


$firstTitleMobil: 4.063em;
$pageTitleMobil: 2.575em;
$pageSubTitleMobil: 2.05em;
$sectionTitleMobil: 1.85em;
$sectionSubTitleMobil: 1.35em;
$partTitleMobil: 1.35em;
$partSubTitleMobil: 1.145em;